<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="application.css">
  </head>
    <title>Deveet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<center> 

  <img>
  <%= image_tag("profile/deniceruby.png") %>
  </img>

  <h1> Hi! I'm Den! Site's still underconstruction. Come back later!</h1>
  <p> find me on <a href="https://instagram.com/denicesnaps">Instagram</a></p>
  
</center>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
